<main class="main-container my-3">
  <form id="message-form" class="col-4" action="">
    <h5 class="mb-3">Ingresa tu mensaje: </h5>

    <div class="mb-3">
      <input
        type="email"
        class="form-control disabled"
        id="email"
        value="default@default.com"
        disabled
      />
    </div>

    <div class="form-floating mb-3">
      <textarea
        name="message"
        style="height: 100px"
        class="form-control"
        id="message"
        placeholder="Mensaje"
      ></textarea>
      <label for="message">Mensaje</label>
    </div>

    <button class="btn btn-outline-primary">Enviar mensaje</button>
  </form>

  <hr />
  <h1>Mensajes</h1>

  <ul class="p-0 mt-3" id="chat-container">
    {{#each messages}}
      <li id={{this._id}} class="alert alert-warning">
        <div>Usuario: {{this.user_email}}</div>
        <div>Mensaje: {{this.text}}</div>
        
        <button
          class="badge text-bg-danger mt-2 deleteMessageButton"
        >Eliminar</button>
      </li>
    {{/each}}

    
  </ul>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/chat.js"></script>