<main class="container">
  <main class="container">
  <h1>Inicie sesión</h1>
  <form id="loginForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  <div class="mt-5">Todavía no estás registrado, registrate <a href="/signup" class="link link-primary">haciendo click acá</a>.</div>
</main>

<script src="/js/utils.js"></script>
<script src="/js/auth.js"></script>

